extends layout

block variables
  - var title = "Home"

block content
  h2.text-center MP-Proxy: IoT safey, security and privacy enforcement

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your MP-Proxy App! 
        Please visit the
        #[a(href="https://github.com/HaotianChi/mp-mediator.git", title="okkta-express-login-portal on GitHub") GitHub page] to learn more.
